@model PostIndexVM

<form asp-controller="Post" asp-action="Index">
    <input type="text" class="header_search desktop-only" name="SearchString" placeholder="Search in blog posts">
    <i class="bi bi-search" id="searchicon"></i>
</form>


@foreach (var item in Model.Posts)
{
    string imagePath = "/Images/" + item.PostPictureUrl;
    <div class="post_container">
        <img src="~/Images/Ava-pats-12.jpg" class="avatar" style="height:50px;width:50px;"> 
    
        <div class="post_content">
            <span class="link">@item.AuthorName</span>: @item.Title
            <br><small>@item.DatePosted</small>
        </div>
    
        <br clear="all"><br>
        @item.PostContent
        <br>
        @if (item.PostPictureUrl != null)
        {
            <img src="@imagePath" class="border-r">
        }
        <div class="reacts">
            <a onclick="PostLike('@Url.Action("Like","Post",new { @item.Id }, Context.Request.Scheme)', @item.Id)" class="btn btn-danger text-white" style="margin-right:10px" id="likes@(item.Id)"><i class='bi bi-heart'></i> @item.LikesCount</a>
            <a onclick="showInPopup('@Url.Action("Details","Post",new { @item.Id }, Context.Request.Scheme)', 'Comments')" style="margin-right:10px" class="btn btn-warning text-white"><i class="bi bi-chat-left"></i> @item.RepliesCount</a>
            <a asp-controller="PostReply" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary">Reply</a>
        </div>
   </div>
}

<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Post" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add Post
    </a>
</div>

<script>
    showInPopup = (url, title) => {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('toggle');
            }
        })
    }

    PostLike = (url,id) => {
        var txt="";
        $.ajax({
            type: 'Post',
            url: url,
            success: function (res) {
                txt += "<i class='bi bi-heart'></i> " + res;
                $("#likes" + id).html(txt);
            }
        })
    }
</script>


